<%- include('layout-start.ejs') -%>
<div class="d-flex justify-content-between">
  <h2 >Tous les contacts</h2>
  <form class="my-2" action="/downloadExcel" method="GET">
    <button type="submit" class="btn btn-info">Exporter au format excel</button>
  </form>
</div>
  <div class="row">
    <% contacts.forEach(function(contact){ %>
      <div class="card col-12  
    mx-auto my-1 px-5
     flex-row align-items-center
     position-relative
      justify-content-between">
        <a href="<%= " /contact/show/" + contact.id %>" class="stretched-link">
          <% if(contact.firstName) {%>
            <%= contact.firstName %>
              <%} else{%>
                Contact <%= contact.id %>
                  <%}%>

        </a>
        <i class="fa-solid fa-angle-right"></i>
      </div>
      <% }); %>
  </div>

  <%- include('layout-end.ejs') -%>