<%- include('layout-start.ejs') -%>
<h2>Tous les contacts</h2>
<div class="row">
  <% contacts.forEach(function(contact){ %>
  <div class="card col-12  
    mx-auto my-1 px-5
     flex-row align-items-center
     position-relative
      justify-content-between">
    <a href="<%= "/contact/show/" + contact.id %>" class="stretched-link">
      <% if(contact.firstName) {%>
      <%= contact.firstName %>
      <%} else{%>
        Contact <%= contact.id %>
      <%}%>

    </a>
    <i class="fa-solid fa-angle-right"></i>
  </div>
  <div><%= JSON.stringify(contact) %> </div>
  <% }); %>
  </div>

  <%= JSON.stringify(user) %> 

  <%- include('layout-end.ejs') -%>