<%- include('layout-start.ejs') -%>
<div class="back">
  <a class="" href="<%= "/contact/show/" + contact.id %>">
    <i class="fa-solid fa-arrow-left-long"></i> 
    <small>Retour au contact</small>
  </a>
</div>
<h2>Modifier un contact</h2>
<div class="card">
  <div class="card-body">
    
<form action="/contact/create" method="POST">
  <label for="firstName">Prénom</label>
  <input class="form-control my-1" type="text" id="firstName" name="firstName" value="<%= contact.firstName %>" />

  <label for="lastName">Nom</label>
  <input class="form-control my-1" type="text" id="lastName" name="lastName" value="<%= contact.lastName %>" />

  <label for="organization">Organisation</label>
  <input class="form-control my-1" type="text" id="organization" name="organization" value="<%= contact.organization %>" />

  <label for="photo">Photo</label>
  <input class="form-control my-1" type="url" id="photo" name="photo" value="<%= contact.photo %>"/>

  <label for="workPhone">Téléphone</label>
  <input class="form-control my-1" type="tel" id="workPhone" name="workPhone" value="<%= contact.workPhone %>"/>

  <label for="birthday">Anniversaire</label>
  <input class="form-control my-1" type="date" id="birthday" name="birthday" value="<%= contact.birthday %>"/>

  <label for="title">Titre</label>
  <input class="form-control my-1" type="text" id="title" name="title" value="<%= contact.title %>"/>

  <label for="url">URL</label>
  <input class="form-control my-1" type="url" id="url" name="url" value="<%= contact.url %>"/>

  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-primary" type="submit">Modifier</button>
  </div>
</form>

</div>
</div>
<%- include('layout-end.ejs') -%>