<%- include('layout-start.ejs') -%>
<div class="back">
  <a class="" href="/">
    <i class="fa-solid fa-arrow-left-long"></i>
    <small>Retour à la liste</small>
  </a>
</div>
<% if(contact){ %>
<h2>Contact</h2>
<div class="card">
  <div class="card-body">
    <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start justify-content-between">
      <div>

        <% if(contact.firstName) {%>
        <p>Prénom : <%= contact.firstName %></p>
        <%}%>
<% if(contact.lastName) {%>
        <p>Nom : <%= contact.lastName %></p>
        <%}%>
<% if(contact.organization) {%>
        <p>Organisation : <%= contact.organization %></p>
        <%}%>
<% if(contact.photo) {%>
        <p>Photo : <%= contact.photo %></p>
        <%}%>
<% if(contact.workPhone) {%>
        <p>Téléphone : <%= contact.workPhone %></p>
        <%}%>
<% if(contact.birthday) {%>
        <p>Anniversaire : <%= contact.birthday.toLocaleString(); %></p>
        <%}%>
<% if(contact.title) {%>
        <p>Titre : <%= contact.title %></p>
        <%}%>
<% if(contact.url) {%>
        <p>URL : <a href="<%= contact.url %>"><%= contact.url %></a></p>
        <%}%>

    </div>
<div class="d-flex flex-column bg-light p-2 mb-3 ml-3 border rounded">
  <img class="d-block" src="<%= qr %>"/>
  <small class="text-center d-block mx-auto my-2" style="width: 200px;">Scannez le QR code pour ajouter le contact à votre téléphone</small>
</div>

    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between">

      <a href="<%= "/contact/update/" + contact.id %>" class="btn my-1 btn-primary">
        Modifier
        </a>

        <form action="/downloadPdf" method="GET">
          <button type="submit" class="btn my-1 d-block btn-info w-100">Exporter au format pdf</button>
        </form>

        <form action="/contact/delete" method="POST">
          <input type="hidden" name="id" value="<%= contact.id %>" />
          <button type="submit" class="btn my-1 btn-danger w-100">Supprimer</button>
        </form>
      </div>
      <% } else { %>
      Aucun contact trouvé
      <% }%>

    </div>
  </div>

  <%- include('layout-end.ejs') -%>